body{
    background: #103780;
}

.contenedor{
    display: flex;
    width: 300px;
    height: 41px;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    overflow: hidden;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

ul{
    list-style: none;
    padding-left: 10px;
    animation: cambiarTexto;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

ul, p{
    margin: 0px;
}

@keyframes cambiarTexto{
    0%{margin-top: 0;}
    20%{margin-top: -40px;}
    40%{margin-top: -80px;}
    60%{margin-top: -80px;}
    80%{margin-top: -40px;}
    100%{margin-top: 0;}
}